<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script>
        function getUUID() {
            return document.getElementById('uuid').innerHTML
        }

        function getUpdate() {
            httpGetAsync("/game-update/" + getUUID(), (t) => {
                console.log(t);
                document.getElementById("info").innerHTML = t;
                j = JSON.parse(t)
                shelf_time = document.getElementById('shelf_time');
                shelf_time.innerHTML = j['timer'] + "s"

                shelf_level = document.getElementById('shelf_level');
                shelf_level.innerHTML = "Level:" + j['level']

                shelf_progress = document.getElementById('shelf_progress');
                shelf_progress.innerHTML = j['itemsStocked'] + "/" + j['itemsNeeded'];

                shelf_stat = document.getElementById('shelf_status');
                shelf_stat.innerHTML = j['activated'] == true ? "Running" : "Available";
                if(j['activated'] == true) {
                    shelf_stat.classList.remove('available');
                } else {
                    shelf_stat.classList.add('available');
                }

                bossMoney = document.getElementById('bossMoney')
                newStr = j['bossMoney'] + "$"
                bossMoney.innerHTML = newStr;
            });
        }

        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous 
            xmlHttp.send(null);
        }

        function orderShelfes() {
            httpGetAsync("/order-shelf/" + getUUID(), (e) => {
                document.getElementById('info').innerHTML = e;
                setTimeout(getUpdate(), 1000);
            });
        }

        function foo() {
            httpGetAsync("/stock-shelf/" + getUUID(), (e) => {
                document.getElementById('info').innerHTML = e;
                setTimeout(getUpdate(), 1000);
            });
        }
    </script>
</head>
<body>

<div>
<div id=uuid>{{market_id}}</div>
    <h1>Hello Manager of Market {{ market_id }}!</h1>

    <button onclick="getUpdate()">Get Upate!</button>

    Here goes the status page and fancy images -> buttons to start restocking/mopping/scanning articles

    <div id=info>

    </div>
    <div id=actions>
        <button onclick="orderShelfes()">Stock Shelves</button>
        <button onclick="foo()">put item</button>
    </div>
    <div id=money_overlay>
        <p id=bossMoney></p>
        <div id=moneyAnimation>$$$$$$$</div>
    </div>
    <div id=shelf_overlay class=fancy>
        <button id=shelf_status onclick="orderShelfes()"></button>
        <p id=shelf_time></p>
        <p id=shelf_level></p>
        <p id=shelf_progress></p>
    </div>
    <img src="/static/map.png">
</div>

</body>
</html>

<script>
    setInterval(getUpdate, 1000);
</script>