<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script>
        function getUUID() {
            return document.getElementById('uuid').innerHTML
        }

        function getUpdate() {
            httpGetAsync("/game-update/" + getUUID(), (t) => {
                console.log(t);
                document.getElementById("info").innerHTML = t;
                j = JSON.parse(t)
                shelf_time = document.getElementById('shelf_time');
                shelf_time.innerHTML = j['timer'] + "s"

                shelf_level = document.getElementById('shelf_level');
                shelf_level.innerHTML = "Level:" + j['level']

                shelf_progress = document.getElementById('shelf_progress');
                shelf_progress.innerHTML = j['itemsStocked'] + "/" + j['itemsNeeded'];

                shelf_stat = document.getElementById('shelf_status');
                shelf_stat.innerHTML = j['activated'] == true ? "Running" : "Available";
                if(j['activated'] == true) {
                    shelf_stat.classList.remove('available');
                } else {
                    shelf_stat.classList.add('available');
                }

                reg_time = document.getElementById('register_time');
                reg_time.innerHTML = j['register_timer'] + "s"

                register_level = document.getElementById('register_level');
                register_level.innerHTML = "Level:" + j['register_level']

                register_progress = document.getElementById('register_progress');
                register_progress.innerHTML = j['register_itemsStocked'] + "/" + j['register_itemsNeeded'];

                register_stat = document.getElementById('register_status');
                register_stat.innerHTML = j['register_activated'] == true ? "Running" : "Available";
                if(j['register_activated'] == true) {
                    register_stat.classList.remove('available');
                } else {
                    register_stat.classList.add('available');
                }


                bossMoney = document.getElementById('bossMoney')
                newStr = j['bossMoney'] + "$"
                bossMoney.innerHTML = newStr;
            });
        }

        function getPlayerPos() {
            httpGetAsync("/get-player-position/" + getUUID(), (t) => {
                j = JSON.parse(t)
                console.log(j);
                
                player = document.getElementById('player');
                player.style.left = 1024 * j['x'] + 'px';
                player.style.top = 815 * j['y'] + 'px';
            });
        }

        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() { 
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous 
            xmlHttp.send(null);
        }

        function orderShelfes() {
            httpGetAsync("/order-shelf/" + getUUID(), (e) => {
                getUpdate();
            });
        }

        function orderRegister() {
            httpGetAsync("/order-register/" + getUUID(), (e) => {
                getUpdate();
            });
        }

        function scanItem() {
            httpGetAsync('/scan-item/' + getUUID(), (e) => {
                getUpdate();
            });
        }

        function foo() {
            httpGetAsync("/stock-shelf/" + getUUID(), (e) => {
                getUpdate();
            });
        }
    </script>
</head>
<body>

<div>
<div id=uuid>{{market_id}}</div>
    <h1>Hello Manager of Market {{ market_id }}!</h1>

    <button onclick="getUpdate()">Get Upate!</button>

    Here goes the status page and fancy images -> buttons to start restocking/mopping/scanning articles

    <div id=info>

    </div>
    <div id=actions>
        <button onclick="orderShelfes()">Stock Shelves</button>
        <button onclick="foo()">stock shelf</button>
        <button onclick="scanItem()">scan item</button>
    </div>
    <div id=money_overlay>
        <p id=bossMoney></p>
        <div id=moneyAnimation>$$$$$$$</div>
    </div>
    <div id=shelf_overlay class=fancy>
        <button id=shelf_status onclick="orderShelfes()"></button>
        <p id=shelf_time></p>
        <p id=shelf_level></p>
        <p id=shelf_progress></p>
    </div>
    <div id=register_overlay class=fancy>
        <button id=register_status onclick="orderRegister()"></button>
        <p id=register_time></p>
        <p id=register_level></p>
        <p id=register_progress></p>
    </div>
    <div id=player_overlay>
        <div id=player>
            </div>
    </div>
    <img src="/static/map.png">
</div>

</body>
</html>

<script>
    setInterval(getUpdate, 1000);
    setInterval(getPlayerPos, 1000);
</script>