#shelf_overlay {
    position: absolute;
    top: 493px;
    left: 150px;
    color: red;
    font-weight: bolder;
    font-size: xx-large;
}

.available {
    background-color: lightgreen;
}

.shelf_status {
    font-weight: bolder;
    font-size: xx-large;
    background-color: red;
}

#money_overlay {
    position: absolute;
    left: 450px;
}

#bossMoney {
    color: lime;
    font-weight: bolder;
    font-size: xx-large;
}

#actions {
    display: none;
}

@keyframes spin2 { 100% { transform:rotate(360deg); transform:scale(0%); } }
@keyframes spin2 { 50% { transform:rotate(180deg); transform:scale(0%);  } }
@keyframes spin2 { 25% { transform:rotate(180deg); transform:scale(50%);  } }
@keyframes spin2 { 0% { transform:rotate(0deg); transform:scale(0%);  } }
@keyframes idle { 100% {} }

#moneyAnimation {
    color: lime;
    font-size: xx-large;
    animation: spin2 1s alternate linear infinite"
}

#register_overlay {
    position: absolute;
    left: 587px;
    color: red;
    font-weight: bolder;
    font-size: xx-large;
    top: 500px;
}

#player_overlay {
    position: absolute;
}

#player {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: gold;
    min-width: 20px;
    min-height: 20px;
}